body {
    background-color: rgb(42, 42, 44);
    color: rgb(255, 255, 255);
    margin-top: 10px;
    font-family: "Comfortaa", cursive;

  }
.container::before{
  content: "Cтраница в тестовом режиме";
  color: rgb(134, 67, 67);
  text-align: right;
}
.container {
    max-width: 655px;
    margin: 0 auto;
    padding: 20px;
    
  }
  select{
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: rgb(120, 120, 120);
    color: white;
    max-width: 150px;
  }
  button {
    display: block;
    margin-top: 10px;
    border-radius: 10px;
    font-family: "Comfortaa", cursive;
    font-weight: 900;
    margin: auto;
    transition: .4s;
  }
  button:hover{
    box-shadow: white 0px 0px 10px;
  }
  .options{
    display: flex;
    margin: 30px auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .option{
    margin: 5px;
  }
  #powerresult,#dexterityresult,#staminaresult,#speedresult{
    border-radius: 5px;
    width: 145px;
    background-color: rgb(120, 120, 120);
    color: white;
  }
  .div-flex{
    display: flex;
  }
  label{ 
    display: block;
    margin-bottom: 10px;
    margin-right: 5px;
  }


  .toggle-switch::before{
    content: "Пол:";
    font-size: 15px;
    margin-left: -40px;
  }
  .toggle-switch {
    
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
    margin-left: 40px;
  }
  .toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .toggle-switch-slider {
    height: 17px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid rgb(120, 120, 120);
    transition: .4s;
    border-radius: 50px;
  }
  .toggle-switch-slider:before {
    position: absolute;
    height: 17px;
    width: 30px;
    left: 0px;
    bottom: 0px;
    background-color:rgb(120, 120, 120);
    transition: .4s;
    border-radius: 50px;
    content: "М";
    font-size: 15px;
    color: white;
    text-align: center;
  }
  input:checked + .toggle-switch-slider:before {
    transform: translateX(14px);
    content: "Ж";
  }



  #output{
    margin: 15px auto 0 auto ;
    border-top: 1px solid white;
    transition: .5s;
    text-align: center;
  }
  #points{
    font-weight: 900;
  }
  .points{
    
    display: block;
    width: min-content;
    height: min-content;
    margin: 30px auto 0 auto;
  }
  #final{
    text-align: center;
    font-weight: 900;
    font-size: 12px;
  }
  #powerpoint,#dexteritypoint,#speedpoint,#staminapoint{
    transition: .9s;
    width: 202px;
    height: 15px;
    border-bottom: 1px solid white;
    text-align: center;
    font-size: 14px;
    margin: 0;
  }
  #powerpoints,#dexteritypoints,#speedpoints,#staminapoints{
    transition: .9s;
    margin: 0;
    width: 0px;
    height: 5px;
    background-color: white;
    border: 1px solid white;
    border-radius: 0px 0px 5px 5px
  }
  @media (max-width: 579px) {
    .points{
      border: solid 1px rgb(0, 0, 0);
      padding: 5px;
      border-radius: 10px;
      box-shadow: rgb(0, 0, 0) 0px 0px 5px;
    }  
    .option{
      border: solid 1px rgb(0, 0, 0);
      padding: 5px;
      border-radius: 10px;
      box-shadow: rgb(0, 0, 0) 0px 0px 5px;
    }
}
