body {
  background-color: rgb(42, 42, 44);
  color: rgb(255, 255, 255);
  margin: 0;
  font-family: "Comfortaa", cursive;
}
.header{
  background: linear-gradient(180deg, rgba(0,0,0,0.8522118319984244) 90%, rgba(0,0,0,0) 100%);
  display: flex;
  padding: 13px;
  position: fixed;
  width: 100%;
  height: 25px;
}
.site_name{
  font-size: 20px;
  font-weight: 700;
  margin: 0 auto;
}
.site_nav{
  margin: auto;
  padding-right: 100px;
}
.site_nav_button, .site_nav_button_b{
  color: rgb(255, 255, 255);
  text-decoration: none;  
  font-size: 15px;
  margin-left: 30px;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}
.site_nav_button_b{
  color: rgba(255, 255, 255, 0.5);
}
.site_nav_button:hover,.site_nav_button_b:hover{
  text-shadow: 0px 0px 4px rgb(255 255 255);
  -webkit-transition: all 500ms;
  transition: all 500ms;
}
.container{
  display: block;
  flex-wrap: wrap;
  padding: 10px;
  padding-top: 50px;
}
.subcontainer{
  display: block;
  padding: 10px;
}
.title{
  display: flex;
  padding: 0px 10px ;
  margin-top: 50px;
  justify-content: center;
  white-space: nowrap;
}
.title::before, .title::after{
  content: "";
  margin: 10px 15px;
  background-color: white;
  height: 5px;
  width: 200px;
}
.block_title{
  display: flex;
  padding-top: 5px;
  justify-content: center;
}
.block_content{
  border: 1px dotted gray;
  padding: 0 20px;
  border-radius: 30px;
}
.block_content h3 a{
  text-decoration: none;
  border-radius: 10px;
  margin-left: 3px;
  color: aqua;
  border: white 1px solid;
  padding: 3px 5px 0px 5px;
}
.icons{
  text-align: center;
  border: 1px solid white;
  border-radius: 20px;
  margin: 10px auto;
}
.icon{
  height: 40px;
  text-align: right;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
  background-size: 38px;
  display: inline-block;
  text-align: left;
  padding-left: 45px;
}
.icon::after{
  display: block;
  margin: 12px 10px;
  font-weight: 600;
}
#py{
  background-image: url(img/python.svg);
}
#py::after{
  content: "Python";
}
#vk{
  background-image: url(img/vk.svg);
}
#vk::after{
  content: "ВКонтакте";
}
#tg{
  background-image: url(img/tg.svg);
}
#tg::after{
  content: "Telegram";
}
#css{
  background-image: url(img/css.svg);
}
#css::after{
  content: "CSS 3";
}
#html{
  background-image: url(img/html.svg);
}
#html::after{
  content: "HTML 5";
}
#js{
  background-image: url(img/js.svg);
}
#js::after{
  content: "JavaScript";
}
.learn_progress{
  border: 1px solid white;
  border-radius: 15px;
  justify-content: center;  
}
.learn{
  margin: 15px auto;
  display: flex;
  width: 50%;
}
.learn p{
  color: black;
  margin: 2px 10px;
  position: absolute;
  font-weight: 600;
}
progress{
  height: 20px;
  width: 100%;
}
progress:hover::-webkit-progress-value{
  initial-value: "100";
}
progress::-webkit-progress-value{
  background-color: white;
  border-radius: 15px;
}
progress::-webkit-progress-bar{
  background-color: transparent;
}
.contact{
  text-decoration: none;
  border-radius: 10px;
  color: aqua;
  border: white 1px solid;
  padding: 3px 5px 0px 5px;
}
.secret{
  justify-content: space-between;
  display: flex;
  margin: auto;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  width: 50%;
  max-width: 100%;
}
.secret:hover{
width: 100%;
max-width: 500px;
}
.secret a{
  color: transparent;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}
.secret:hover a{
  color: aqua;
}
@media (max-width: 719px) {
  .header{
    display: block;
  }
  .site_name{
    text-align: center;
  }
  .site_nav{
    padding-right: 0;
    text-align: center;
    margin-top: 5px;
  }
  .site_nav_button,.site_nav_button_b{
    margin: 12px;
  }
  .block_content h3{
    text-align: center;
  }
  .learn{
    width: 85%;
  }

}
