body {
    background-color: rgb(42, 42, 44);
    color: rgb(255, 255, 255);
    margin-top: 100px;
    font-family: "Comfortaa", cursive;

  }
.container{
    border: 1px solid rgba(150, 0, 0, 0);
    padding: 20px;
    margin: auto;
    max-width: 500px;
}
.container a{
    margin: 10px;
    text-decoration: none;
}
.link,.sublink{
    text-align: center;
    border: 1px solid rgb(150, 0, 0);
    color: white;
    border-radius: 10px;
    padding: 10px 10px;
    margin: auto;
    -webkit-transition: all 500ms;
    transition: all 500ms;
    text-decoration: none;
}
.link{
    background-color: rgb(150, 0, 0);
    font-weight: 900;
}

.link:hover, .sublink:hover{
    box-shadow: rgb(150, 0, 0) 0px 0px 20px;
}