
.container{
    border: 1px solid rgba(150, 0, 0, 0);
    padding: 20px;
    margin: auto;
    max-width: 500px;
}
.link-container{
    max-width: 320px;
    margin: 20px auto;
}
.link-container.open{
    max-width: 370px;
}
.link-container-link:hover{
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    background-image:url(/img/new_tab.svg);
}
.back{
    font-weight: 200;
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    background-image:url(/img/arrow_left.svg);
}
.server-container{
    text-align: center;
    padding: 5px;
    border: 1px solid rgb(77, 77, 77);
    border-radius: 15px;
    margin-top: 25px;
}
.v::before{ content: "v. "; }
.v{
    margin: 20px auto;
    height: 15px;
    padding: 5px 12px;
    border: 1px solid rgb(77, 77, 77);
    border-radius: 20px;
    font-size: 14px;
}
.server-link{
    color: rgb(107, 194, 72);
    font-weight: 900;
    border: 1px solid rgb(107, 194, 72);
    background-size: contain;
    background-image:url(/img/minecraft-grass.jpg);
    background-position: center;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    max-width: 220px;
}
.server-link:hover{
    box-shadow: rgb(107, 194, 72) 0px 0px 20px;
    text-shadow: rgb(107, 194, 72) 0px 0px 20px;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    max-width: 250px;
}
