header{
    text-align: center;
}
.title{
    color: rgb(255, 255, 255);
    opacity: 90%;
    margin: 0;
}
.photo{
    margin-top: 20px;
    border-radius: 55px;
    height: 100px;
    width: 100px;
    -webkit-transition: all 500ms;
    transition: all 500ms;
}
.container{
    padding: 20px;
    margin: auto;
    max-width: 400px; 
}
.category{
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-align: center;
    margin-bottom: 0;
    margin-top: 30px;
}

/* акцент наводки */
.link:hover,.link-container-button:hover,.link-container-link:hover {
    background-color: #36343b;
    box-shadow: rgb(77, 77, 77) 0px 0px 25px;
    border-radius: 15px;
}
.link-container:hover { box-shadow: rgb(77, 77, 77) 0px 0px 25px; border-radius: 15px;}
.link-container.open:hover { box-shadow: rgba(77, 77, 77, 0.4) 0px 0px 25px; }
.link-container-button.open { background-color: #ffffff44; font-weight: 600; border-radius: 15px;}
.link-container:hover:not(.open) .link-container-content {max-height:7px;}

/* ссылки (+ КНОПКИ контейнера) */
.link, .link-container{
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 20px;
    overflow:hidden;
    -webkit-transition: all 500ms;
    transition: all 500ms;
}
/* ссылки (+ ССЫЛКИ контейнера)  */
.link, .link-container-link {
    /*background-image: url(/img/top_right.svg);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: calc(100% - 8px) center;*/
    display: block;
    padding: 10px;
    height: 18px;
    text-align: center;
    -webkit-transition: all 500ms;
    transition: all 500ms;
}
.contact{
    background-image: none;
    border: 1px solid #909090;
    max-width: fit-content;
}

/* контейнеры ссылок */
/* .link-container:hover .link-container-content {max-height: 5px;} */
.link-container.open {border-radius: 15px;}
.link-container-content.open {max-height: 500px;}
.link-container-button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    -webkit-transition: all 500ms;
    transition: all 500ms;
}
.link-container-content {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all 500ms;
    transition: all 500ms;
    border-radius: 15px;
}


/* АААААААААААААААААААААА ПААРАША ГОВНОКОД АХТУГ АХТУНГ ГИТЛЕР КАПУТ БЛТЯЬ */
#gray-right{
    background-image:linear-gradient(
    to left,
    rgba(42, 42, 44, 0.5) ,
    rgb(42, 42, 44) 23%),  
    url(/img/arrow_right.svg);
}
