body {
    background-color: rgb(42, 42, 44);
    color: rgb(255, 255, 255);
    margin-top: 100px;
    font-family: "Comfortaa", cursive;

  }
.container{
    border: 1px solid rgba(150, 0, 0, 0);
    padding: 20px;
    margin: auto;
    max-width: 500px;
}
.container a{
    margin: 10px;
    text-decoration: none;
}
.link-1,.link-2{
    text-align: center;
    border: 1px solid rgb(150, 0, 0);
    color: white;
    border-radius: 10px;
    padding: 10px 10px;
    margin: auto;
    -webkit-transition: all 500ms;
    transition: all 500ms;
    text-decoration: none;
}
.link-1{
    font-weight: 900;
    background-image:linear-gradient(
        to right,
        rgba(150, 0, 0, 0.5) ,
        rgb(150, 0, 0) 40%
      ),  url(/img/arrow_left.svg);
    background-repeat: repeat;
    background-size: contain;
}

.link-1:hover, .link-2:hover{
    box-shadow: rgb(150, 0, 0) 0px 0px 25px;
}
