body {
    background-color: rgb(43, 40, 40);
    color: rgb(255, 255, 255);
    margin: auto;
    font-family: "Comfortaa", cursive;
  }
  body::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(78, 78, 78, 0.5);
  }
  body::-webkit-scrollbar-track {
    background-color: rgba(78, 78, 78, 0.5);
  }
  body::-webkit-scrollbar-thumb {
    background-color: rgba(180, 180, 180, 0.5);
    border-radius: 5px;
  }
  a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    padding-top: 5px;
    margin: auto;
  }
  .header-left {
    display: flex;
    height: 50px;
  }
  .logo {
    width: 130px;
    height: 50px;
    margin-left: 30px;
    border-radius: 50px 50px 50px 50px;
  }
  .site-name {
    font-size: 30px;
    margin-left: 15px;
    font-weight: 700;
    margin-top: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    -webkit-transition: all 500ms;
    transition: all 500ms;
  }
  .site-name:hover {
    text-shadow: 0px 0px 5px aqua;
    -webkit-transition: all 300ms;
    transition: all 300ms;
  }
  .site-subname {
    font-size: 17px;
    font-weight: 300;
    margin: 17px 0px 0px 2px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.25);
    font-weight: 700;
  }
  .navigation {
    display: flex;
  }
  .tgandpda {
    display: flex;
    height: 50px;
  }
  .navigation-link {
    -webkit-transition: all 500ms;
    transition: all 500ms;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    margin: 13px 20px 1px 1px;
    padding: 5px 5px 2px 5px;
    height: 20px;
    border: solid 1px rgba(0, 0, 0, 0);
    border-radius: 2px;
  }
  .navigation-link:hover {
    -webkit-transition: all 500ms;
    transition: all 500ms;
    text-shadow: 0px 0px 7px aqua;
    border-right: solid 1px aqua;  
    border-left: solid 1px aqua;  
    border-radius: 15px;
  }
  .onsite-navigation {
    background-image: -webkit-linear-gradient(top, black, rgb(43, 40, 40));
    height: 15px;
  }
  .container {
    max-width: 1200px;
    margin: auto;
    width: 90%;
    padding-bottom: 50px;
    padding-top: 20px;
  }
  .kernel-block {
    -webkit-transition: all 350ms;
    transition: all 350ms;
    display: flex;
    border: 1px solid rgb(78, 78, 78);
    border-radius: 15px;
    margin-top: 50px;
  }
  .lastest::before {
      content: "Последняя версия";
      color: rgb(0, 255, 255);
      text-shadow: 0px 0px 2px rgb(125, 255, 255);
  }
  .lastest {
    text-align: center;
    border: 1px solid rgb(78, 78, 78);
    border-top: none;
    border-radius: 0px 0px 15px 15px;
    padding: 5px;
    margin-left: 30px;
    width: 170px;
  }
  .kernel {
    display: block;
    width: 100%;
    border-right: 1px solid rgb(78, 78, 78);
  }
  .version {
    margin: 20px 0px 0px 30px;
    font-weight: 700;
    font-size: 25px;
  }
  .conVersion::before{
    content: "Включает в себя:";
    margin-left: 15px;
  }
  .conVersion{
    margin: 10px 0px 0px 35px;
    border-left: solid 1px aqua;
  }
  .conVersion ul{
      margin-top: 5px;
      padding-left: 32px;
  }
  .download {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    display: block;
    border-top: 1px solid rgb(78, 78, 78);
    padding: 8px 0px 6px 0px;
    margin-top: 5px;
    -webkit-transition: all 500ms;
    transition: all 500ms;
  }
  .download:hover {
    text-shadow: 0px 0px 5px aqua;
    -webkit-transition: all 300ms;
    transition: all 300ms;
  }
  .kernel-right {
    margin-left: auto;
    width: 50px;
    -webkit-transition: all 350ms;
    transition: all 350ms;
    overflow: hidden; 
  }
  .kernel-right h3 {
    transform: rotate(-90deg) translateX(-70px) translateY(-50px);
    margin: 0px 0px 0px 0px;
    width: 150px;
    -webkit-transition: all 350ms;
    transition: all 350ms;
  }
  .kernel-right p{
    opacity: 0;
    height: 120px;
    -webkit-transition: all 350ms;
    transition: all 350ms;
  }
  .kernel-right::-webkit-scrollbar {
     width: 6px;
     background-color: rgb(78, 78, 78);
     border-radius: 5px;
   }
  .kernel-right::-webkit-scrollbar-track {
     background-color: rgb(78, 78, 78);
     border-radius: 5px;
   }
  .kernel-right::-webkit-scrollbar-thumb {
     background-color: rgb(90, 180, 180);
     border-radius: 5px;
   }
  .kernel-right:hover {
    margin: 5px 6px 5px 15px;
    padding-top: 5px;
    width: 1150px;
    min-height: 100%;
    max-height: 180px;
    overflow: auto; 
  }
  .kernel-right:hover h3{
    transform: rotate(0deg) translateX(0px) translateY(0px);
    color: rgb(125, 255, 255);
  }
  .kernel-right:hover p{
    opacity: 100;
    height: auto;
    overflow:hidden;
  }
  .vkimg {
    width: 35px;
    border: solid 1px rgba(0, 255, 255, 0); 
    -webkit-transition: all 500ms;
    transition: all 500ms;  
    padding: 0 2px;
  }
/* Dropdown Button */
.dropbtn {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  padding-bottom: 10px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  padding-top: 10px;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  width: 100px;
  font-size: 17px;
  font-weight: 500;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content { 
  display: none;
  position: absolute;
  background-color: #000000d3;
  width: 150px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.623);
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
  -webkit-transition: all 500ms;
  transition: all 500ms;
  text-align: center;
  padding: 10px;
  color: white;
  text-decoration: none;
  display: block;
  border-right: solid 1px rgba(0, 255, 255, 0.2);  
  border-left: solid 1px rgba(0, 255, 255, 0.2);    
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #000000;
  text-shadow: 0px 0px 7px aqua;
  border-right: solid 3px aqua;  
  border-left: solid 3px aqua;  
}
.dropdown:hover .vkimg{
  border-right: solid 1px aqua;  
  border-left: solid 1px aqua;  
  border-radius: 20px;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
  @media (max-width: 900px) {
    body::-webkit-scrollbar {
      width: 4px;
    }
    .header {
      display: block;
    }
    .header-left {
      justify-content: center;
    }
    .logo{
      margin-left: 0;
    }
    .site-name{
      margin: 10px;
    }
    .tgandpda{
      margin: auto;
    }
    .kernel-block {
      display: block;
    }
    .kernel{
        border-right: none;
    }
    .lastest {
      margin: auto;
    }
    .version {
      text-align: center;
      margin: 10px 0px 5px 0px;
    }
    .kernel-right::-webkit-scrollbar {
       width: 0px;
     }
    .kernel-right {
      border-top: 1px solid rgb(78, 78, 78);
      display: flex;
      padding-top: 10px;
      padding-bottom: 10px;
      margin: 0;
      padding-top: 5px;
    }
    .kernel-right {
      width: auto;
      height: 25px;
      max-height: 180px;
      overflow: auto; 
      display: block;
      padding: 0;
    }
    .kernel-right:hover {
      margin: 0;
      width: auto;
      height: 100%;
      max-height: 180px;
      overflow: auto; 
    }
    .kernel-right:hover::-webkit-scrollbar {
       width: 6px;
     }
    .kernel-right:hover h3{
      margin: 10px 15px;
      font-weight: 400;
      font-size: 18px;
      width: 150px;
    }
    .kernel-right h3{
      width: 100px;
      font-size: 15px;
      margin: 5px auto;
      font-weight: 100;
      transform: rotate(0deg) translateX(0px) translateY(0px);
    }
    .kernel-right p{
      margin: 15px;
      opacity: 100;
      height: auto;
      overflow:hidden;
    }
  }
  @media (max-width: 600px) {
      .header-left{
          display: flex;
          flex-wrap: wrap;
          height: auto;
      }
      .site-subname{
          display: none;
      }
  }
  @media (max-width: 359px) {
    .header:before {
      margin-left: 5px;
      content: "Сайт не адаптирован под диcплей меньше 360 пикселей.";
      color: red;
    }
  }
