body {
  background-color: #c6e2ff;
  color: rgb(0, 0, 0);
  margin: 0;
  font-family: "Raleway", cursive;
  -webkit-transition: all 600ms;
  transition: all 600ms;
}
.header{
  display: flex;
  justify-content: space-between;
  background: linear-gradient(180deg, rgba(0,0,0,0.2) 90%, rgba(0,0,0,0) 100%);
  height: 50px;
}
.pagename{
  text-align: center;
  margin-top: 8px;
  margin-left: 10px;
}
.themecontainer::before{
  content: "";
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  width: 45px;
  height: 45px;
  background-image: url(theme.png);
  -webkit-transition: all 500ms;
  transition: all 500ms;
}
.themecontainer{
  width: 45px;
  height: 45px;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  justify-content: space-between;
  display: flex;
}
.themecontainer:hover::before{
  transform: rotate(-140deg);
  opacity: 0;
}
.themecontainer:hover .toggle-button{
  opacity: 100;
}
.themecontainer:hover{
  width: 100px;
}
.colorpicker{
  width: 45px;
  height: 45px;
}
.toggle-button {
  opacity: 0;
  position: relative;
  width: 40px;
  height: 22px;
  margin: 16px 10px 5px 5px;
  background: #00000000;
  border: 1px solid #000000;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: all 500ms;
  transition: all 500ms;
 }
  
.toggle-button::before {
  content: "DARK";
  font-weight: 700;
  font-size: 10px;
  position: absolute;
  bottom: 22px;
  left: 4px;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}
.toggle-button::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 18px;
  height: 18px;
  background-color: #000000;
  border-radius: 50%;
  transform: translateX(0);
  -webkit-transition: all 500ms;
  transition: all 500ms;
}
.toggle-button:hover::after{
  transform: scale(0.8);
}
.toggle-button:checked::before{
  color: rgb(132, 0, 255);
}
.toggle-button:checked::after {
  transform: translateX(100%);
  background-color: rgb(132, 0, 255);
}
.toggle-button:checked:hover::after{
  transform: translateX(100%) scale(0.8);
}
.toggle-button:checked {
  border: 1px solid rgb(132, 0, 255);
}
.section_name{
  text-align: center;
  margin: 30px 0px 10px 0px;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}
.section_name:hover{
  content: none;
  color: aqua;
  transform: rotate(500deg) scaleY(5) scaleX(2);
  background-color: rgb(255, 0, 0);
}
.photoscontainer{
  display: block;
  flex-wrap: wrap;
  justify-content: space-between;
}
.hel{
  height: 200px;
  -webkit-transition: all 2s;
  transition: all 2s;
}
.hel:hover{
  transform: rotate(2000deg) scaleY(7) scaleX(2);
}
.hel2{
  height: 200px;
  -webkit-transition: all 2s;
  transition: all 2s;
}
.hel2:hover{
  transform: rotate(20000000deg) scaleY(7) scaleX(2);
}